<div>
  <div class="summary">
    <h2>Movies you watched</h2>
    <div>
      <p>
        <span>#️⃣</span>
        <span>{{ watchedMovies.length }} movies</span>
      </p>
      <p>
        <span>⭐️</span>
        <span>{{ avgImdbRating }}</span>
      </p>
      <p>
        <span>🌟</span>
        <span>{{ avgUserRating }}</span>
      </p>
      <p>
        <span>⏳</span>
        <span>{{ avgRuntime }} min</span>
      </p>
    </div>
  </div>

  <ul class="list" *ngFor="let movie of watchedMovies">
    <li>
      <img src="{{ movie.poster }}" alt="{{ movie.title }} poster" />
      <h3>{{ movie.title }}</h3>
      <div>
        <p>
          <span>⭐️</span>
          <span>{{ movie.imdbRating }}</span>
        </p>
        <p>
          <span>🌟</span>
          <span>{{ movie.userRating }}</span>
        </p>
        <p>
          <span>⏳</span>
          <span>{{ movie.runtime }} min</span>
        </p>

        <button class="btn-delete" (click)="handleDelete(movie)">X</button>
      </div>
    </li>
  </ul>
</div>
