<!-- <div class="details"> -->
<app-loader *ngIf="isLoading | async; else content"></app-loader>
<ng-template #content>
  <div *ngIf="selectedMovie" class="details">
    <!-- {isLoading ? (
    <Loader />
    ) : ( <> -->
    <header>
      <button class="btn-back" (click)="handleCloseMovie()">&larr;</button>
      <img src="{{ poster }}" />
      <div class="details-overview">
        <h2>{{ title }}</h2>
        <p>{{ released }} &bull; {{ runtime }}</p>
        <p>{{ genre }}</p>
        <p>
          <span>⭐️</span>
          {{ imdbRating }} IMDb rating
        </p>
      </div>
    </header>
    <section>
      <div class="rating">
        <ng-container *ngIf="isWatched === false">
          <app-star-rating
            (onSetRating)="onSetRating($event)"
            [size]="24"
            [maxRating]="10"
          ></app-star-rating>
          <button
            class="btn-add"
            (click)="handleAddWatched()"
            *ngIf="userRating"
          >
            + Add to list
          </button>
        </ng-container>
        <p *ngIf="isWatched === true">
          You rated with movie {{ watchedUserRating }} <span>⭐️</span>
        </p>
      </div>
      <p>
        <em>{{ plot }}</em>
      </p>
      <p>Starring {{ actors }}</p>
      <p>Directed by {{ director }}</p>
    </section>
  </div>
</ng-template>
